

.home {
   
   
   .statistics {
      display: flex;
      justify-content: space-around;
      gap: 1rem;

      .total {
         width: 100%;
         text-align: center;
         display: grid;
         align-content: center;
         height: 23rem;
         
         .num {
            font-size: 5rem;
         }
         
      }


      @media only screen and (max-width: 600px) {
         flex-direction: column;

         .total-taks, .total-employees {
            
            height: 30vh;
         }

       }
   }
}